body{ 
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 50%;
    margin: 0.9% auto;
    background-color: #00000080 ;
    border-radius: 2%;
    padding: 5% 7% 7% 7%;
    font-size: 0.8vmax;   
}

/*Titolo*/
header{
    color: rgb(18, 223, 18);
    text-align: center;
}
header > h1{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*logo*/
.logo{
    width: 30%;
}

/*Menù per le prenotazioni*/
.menù{
    text-align: center;
    background-color: rgb(18, 223, 18);
    border: 10px solid rgb(18, 223, 18);
}
.menù > input{ 
    border: 1px solid black;
    font-size: 90%;
    padding: 0 1% 0 1%;
}

/*Parte principale*/
section h2{
    color:white;
    margin-bottom: 0;
}
section p{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
section div{
    height: 1.5vmax;
    border-radius: 5px;
}
.Gino22 .carica{
    background-color: goldenrod;
    width: 40%;
}
.Mike24 .carica{
    background-color: rgb(39, 167, 39);
    width: 60%;
}
.Fede154 .carica{
    background-color: rgb(177, 40, 40);
    width: 16%;
}